.dropdown-menu.columns-3 {
    min-width:673px;
    padding: 30px 30px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

a.nav-stylehead {
    letter-spacing: 1px;
    color: #000;
    font-size: 15px;
}

.dropdown-menu{
    overflow: hidden
}

body{
    overflow: hidden
}

.bottom-text{
    display: block;
    font-size: 11px;
    font-weight: 300;
    color: #777;
    margin-top: 3px;
}
.back-front-sideview a.btn.btn-sm,
.text-editor-options{
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    white-space: normal;
    text-transform: capitalize;
}
#bx-pager .back_front_sideview a.active-label{
    color: #759f40;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.add_liststyle .add_list h4.closeimg span, .shapeadd_info.active span, span.active.plus--img {
    background-position: bottom center;
}
.add_list h4 span, .shapeadd_info span, span.plus--img {
    float: left;
    width: 17px;
    height: 17px;
    background: url(../images/design/add_arrow.png) top center no-repeat;
    margin: 20px 15px 0 0px;
}
.chosen{
    margin-top: 200px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.price_addtocart{
    -webkit-box-shadow: 0 0 10px rgba(124, 129, 142, .26);
    -moz-box-shadow: 0 0 10px rgba(124, 129, 142, .26);
    box-shadow: 0 0 10px rgba(124, 129, 142, .26);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    padding: 15px 40px;
    z-index: 4;
    background: #fff;
}
.btn_font{
    width: 30px;
    height: 30px;
}

.wouldlike_info {
    width: 100%;
    margin: 20px 0;
}

.wouldlike_info h5 {
    font-size: 16px;
    margin: 0 0 15px 0;
    padding: 0;
}

.wouldlike_info .wouldlike_info_input {
    background: none;
    border: none;
    border-radius: 0;
    width: 50px;
    border-bottom: 2px solid #e5e5e5;
    text-align: center;
    color: #0d74b8;
}

.wouldlike_info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wouldlike_info ul li {
    margin: 0 10px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    /*pointer-events: none;
    opacity: 0.5;*/
}

.wouldlike_info ul li .wouldlike_inner {
    -webkit-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .04);
    -moz-box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .04);
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .04);
    background: #fff;
    width: 75px;
    padding: 10px 0;
    position: relative;
    text-align: center;
    margin: 0 0 15px 0;
}

.wouldlike_info ul li .wouldlike_inner:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.wouldlike_info ul li .wouldlike_inner .wouldlike_inner_input {
    background: none;
    border: none;
    border-radius: 0;
    width: 50px;
    border-bottom: 2px solid #e5e5e5;
    text-align: center;
    color: #0d74b8;
}

.wouldlike_info ul li p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.font-style-group .active{
    border: 1px solid red;
}

