<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dashboard Template · Bootstrap</title>
        <script src="../static/js/jquery-min.js"></script>

        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/main.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/line-icons.css">
    </head>
    <body>
      <header>
        <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
            <div class="container clearfix">          
              <a class="navbar-brand" href="index.html"><span class="lni-bulb"></span>AShirt</a>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">男装
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu multi-column columns-3">
                        <li>
                          <a href="product.html">Bakery</a>
                        </li>
                        <li>
                          <a href="product.html">Baking Supplies</a>
                        </li>
                        <li>
                          <a href="product.html">Coffee, Tea & Beverages</a>
                        </li>
                        <li>
                          <a href="product.html">Dried Fruits, Nuts</a>
                        </li>
                        <li>
                          <a href="product.html">Sweets, Chocolate</a>
                        </li>
                        <li>
                          <a href="product.html">Spices & Masalas</a>
                        </li>
                        <li>
                          <a href="product.html">Jams, Honey & Spreads</a>
                        </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">Services</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#features">Features</a>
                  </li>                            
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#portfolios">Works</a>
                  </li>            
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#pricing">Pricing</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#team">Team</a>
                  </li>    
                  <li class="nav-item">
                    <a class="nav-link page-scroll" href="#subscribe">Subscribe</a>
                  </li>
                </ul>              
              </div>
          </nav> 
        </header>
        <div class="col-md-1"></div>
        <div class="col-md-7"></div>
        <div class="col-md-4"></div>

          <script type="text/javascript">
          $(function(){
            $(".dropdown-toggle").dropdown();
          });
          </script>
          <script src="../static/js/bootstrap.js"></script>
    </body>
</html>